<div id="user_profile_container" class="container">
  <div id="user_profile" class="row">
    <div id="user_photo_container" class="col-md-offset-3 col-md-1">
      <div id="user_photo" style="background-image:url(https://m1.joe.ie/YToyOntzOjQ6ImRhdGEiO3M6MTc0OiJhOjM6e3M6MzoidXJsIjtzOjExMjoiaHR0cDovL21lZGlhLWpvZS5tYXhpbXVtbWVkaWEuaWUuczMuYW1hem9uYXdzLmNvbS93cC1jb250ZW50L3VwbG9hZHMvMjAxNC8wMi8xNzE4MjkyMy9Kb3NlcGgtR29yZG9uLUxldml0dC0yLmpwZyI7czo1OiJ3aWR0aCI7aTo2NDc7czo2OiJoZWlnaHQiO2k6MzQwO30iO3M6NDoiaGFzaCI7czo0MDoiMzllYzIwODk5OTcyZjc2ZmU1NDk0Mjk0N2E4MGY4NzNlOTcwNThhOCI7fQ==/joseph-gordon-levitt-2.jpg)"></div>
    </div>
    <div id="user_details" class="col-md-7">
      <p id="user_name">Joseph Gordon-Levitt</p>
      <p id="membership">Member since Nov 2016</p>
      <div id="email_location_container">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="user_details_beside_icon" id="email">josephgordonlevitt@yahoo.com</span>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span class="user_details_beside_icon" id="location">Manila, PHIL</span>
      </div>
      <div id="user_interests_container">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <span class="user_details_beside_icon" id="interests">Finance, Business, Cooking</span>
      </div>
    </div>
  </div>
</div>
</div>
